.book-table {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;

  .welcome-sentence {
    font-size: 1em;
  }

  .table-note {
    margin: 30px 0;

    .available-seat {
      color: green;
    }

    .unavailable-seat {
      color: red;
    }
  }

  .table-group {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;

    .btn-default {
      background-color: #ff9173;
      color: #FFF;
      border-color: salmon;
      font-size: 20px;
      width: 200px;
      margin: 20px
    }

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-default {
      background-color: #ff9173;
      color: #FFF;
      border-color: salmon;
    }

    .available {
      background-color: green;
      color: #FFF;
      border-color: green;
    }

    .unavailable {
      background-color: red;
      color: #FFF;
      border-color: red;
    }
  }
}
