.order-process {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;

  .welcome-sentence {
    font-size: 1em;

    .table-highlight {
      color: #ff9173;
    }

    .reset-selection {
      text-decoration: underline;
    }
  }

  .table-group {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .btn-default {
      border-color: #ff9173;
      font-size: 20px;
      width: 200px;
      margin: 20px;
      .assigned-chief-name {
        position: absolute;
        margin: 35px -70px;
        font-size: 15px
      }
    }

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-default {
      background-color: #ff9173;
      color: #fff;
      border-color: salmon;
    }
  }

  .no-order {
    font-weight: 400;
    font-size: 0.9em;
    justify-content: center;
  }

  .btn-continue {
    background-color: #ff9173;
    float: right;
    border-color: #ff9173;
    font-size: 20px;
    width: 200px;
    margin: 20px;
    font-weight: 500;
  }

  .btn-continue:hover,
  .btn-continue:focus,
  .btn-continue:active,
  .btn-continue.active,
  .open .dropdown-toggle.btn-continue {
    background-color: #ff9173;
    color: #fff;
    border-color: salmon;
    font-weight: bold;
  }

  .chief-assigned {
    margin-bottom: 30px;
    .chief-name {
      color: #ff9173;
      font-weight: 500;
    }
  }

  .quantity-container {
    .item-quantity-container {
      display: flex;
      align-items: center;

      .quantity-not-started {
        width: 50px;
        height: 50px;
        display: grid;
        font-weight: 500;
        border-radius: 10px;
        border: 1px solid #d6d8db;
        align-items: center;
        text-align: center;
        background-color: #d6d8db;
        margin: 0 20px 10px 0;
        box-shadow: 0px 3px 5px 6px #c4c4c4;
      }
      .quantity-in-cooking {
        width: 50px;
        height: 50px;
        display: grid;
        font-weight: 500;
        border-radius: 10px;
        border: 1px solid #ffeeba;
        align-items: center;
        text-align: center;
        background-color: #ffeeba;
        margin: 0 20px 10px 0;
        box-shadow: 0px 3px 5px 6px #c4c4c4;
      }
      .quantity-has-been-done {
        width: 50px;
        height: 50px;
        display: grid;
        font-weight: 500;
        border-radius: 10px;
        border: 1px solid #c3e6cb;
        align-items: center;
        text-align: center;
        background-color: #c3e6cb;
        margin-left: auto;
        box-shadow: 0px 3px 5px 6px #c4c4c4;
      }
    }
    .item-progress-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .item-name {
        text-align: left;
        font-weight: 500;
        margin: 10px 0;
        margin-right: auto;
      }

      .already-done {
        color: #28a745;
      }

      .in-progress {
        color: #ffc107;
      }

      .btn-default {
        border-color: #ff9173;
        font-size: 20px;
        width: 200px;
        margin: 5px;
        position: relative;
        font-size: 12px;
      }

      .btn-default:hover,
      .btn-default:focus,
      .btn-default:active,
      .btn-default.active,
      .open .dropdown-toggle.btn-default {
        background-color: #ff9173;
        color: #fff;
        border-color: salmon;
      }
    }
  }
}
