.btn-default {
  background-color: #ff9173;
  color: #fff;
  border-color: salmon;
  font-size: 20px;
  width: 150px;
  margin: 10px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #ff9173;
  color: #fff;
  border-color: salmon;
}
