.order-food {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;

  .welcome-sentence {
    font-size: 1em;
    .table-highlight {
      color: #ff9173;
    }

    .reset-selection {
      text-decoration: underline;
    }
  }

  .table-group {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;

    .btn-default {
      border-color: #ff9173;
      font-size: 20px;
      width: 200px;
      margin: 20px;
    }

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-default {
      background-color: #ff9173;
      color: #fff;
      border-color: salmon;
    }
  }

  .btn-continue {
    background-color: #ff9173;
    float: right;
    border-color: #ff9173;
    font-size: 20px;
    width: 200px;
  }

  .btn-submit:hover,
  .btn-submit:focus,
  .btn-submit:active,
  .btn-submit.active,
  .open .dropdown-toggle.btn-submit {
    background-color: #ff9173;
    color: #fff;
    border-color: salmon;
    font-weight: bold;
  }

  .btn-submit {
    background-color: #ff9173;
    color: #fff;
    border-color: #ff9173;
    font-size: 20px;
    width: 400px;
    margin: 30px;
    text-align: center;
  }

  .btn-continue:hover,
  .btn-continue:focus,
  .btn-continue:active,
  .btn-continue.active,
  .open .dropdown-toggle.btn-continue {
    background-color: #ff9173;
    color: #fff;
    border-color: salmon;
    font-weight: bold;
  }

  table {
    width: 100%;
    th {
      background-color: #ff9173;
      color: #fff;
      border: 1px solid #fff;
    }
    
    tr {
      font-size: 20px;
      line-height: 70px;
      .td-name {
        text-align: left;
      }
      .td-quantity {

        .plus {
          color: green;
        }

        .minus {
          color: red;
        }

        .fa-1halfx {
          font-size: 1.5em;
        }
      }
    }
  }
}
