<div class="login-box">
  <div class="login-icon-box">
    <i class="far fa-user fa-3x login-icon"></i>

    <input type="username" name="username" placeholder="Nhập username..." class="input-text-box" />
    <input type="password" name="password" placeholder="Nhập password..." class="input-password-box" />

    <button class="btn btn-default">Đăng nhập</button>
  </div>
</div>

 <div class="fluid-container">
  
  <div class="row header">
    <i class="fas fa-chevron-left fa-2x back-button" (click)="moveBackward()"></i>
    <i class="fas fa-utensils fa-2x fork-logo"></i>
    <span class="header-title">{{title | uppercase}}</span>
  </div>

</div>
<router-outlet></router-outlet> 
