.monthly-report {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  padding: 0 20px;

  table {
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc9c5;
    .table-header {
      height: 50px;
      border: 3px solid #ccc9c5;
      vertical-align: middle;
      background-color: #dbd7d3;
      color: #8a8988;
    }

    .table-row {
      height: 30px;
      text-align: center;
      background-color: #ebebeb;

      &:nth-child(odd) {
        background-color: #d1d1d1;
      }

      .table-cell {
        border: 3px solid #ccc9c5;
      }
    }

    .table-row.active {
      font-weight: 500;
      color: #fff;
      background-color: #ff9173;
      border: 3px solid #fff;
    }
  }

  .report-total {
    width: 100%;
    text-align: left;

    .report-title {
      margin: 30px 0;
      .high-light {
        color: #ff9173;
      }
    }
  }

  .report-actions {
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 0 20px;
    .filter-button-group {
      width: 50%;

      &-month {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .filter-group-row-flexbox {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &-year {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
        .filter-group-row-flexbox {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .paging {
      width: 50%;
      display: flex;
      justify-content: center;
      &-button-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .paging-group-row-flexbox {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.btn-default {
  height: fit-content;
  background-color: #ff9173;
  color: #fff;
  border-color: salmon;
  font-size: 16px;
  margin: 20px;
}

.btn-default:disabled {
  background-color: #8a8988;
  border-color: #8a8988;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #ff9173;
  color: #fff;
  border-color: salmon;
}

.btn-default-secondary {
  border-color: #ff9173;
  font-size: 16px;
  margin: 20px;
}

.btn-default-secondary:hover,
.btn-default-secondary:focus,
.btn-default-secondary:active,
.btn-default-secondary.active,
.open .dropdown-toggle.btn-default-secondary {
  background-color: #ff9173;
  color: #fff;
  border-color: salmon;
}
