.main-menu {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;

  .welcome-sentence {
    font-size: 1em;
  }

  .button-list {
      width: 100%;
      display: flex;
      flex-direction: column;
    .btn-default {
        background-color: #ff9173;
        color: #FFF;
        border-color: salmon;
        font-size: 30px;
      }
    
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .open .dropdown-toggle.btn-default {
        background-color: #ff9173;
        color: #FFF;
        border-color: salmon;
    }

    .btn-function {
        margin: 30px;
    }
  }
}
